ul{
  list-style: none;
}

.avto{
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
  background: #dac7c7;
}

.left,
.right{
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  img{
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    li{
      display: flex;
      gap: 15px;
      align-items: center;
    }
    button{
      margin: 0;
      font-size: 16px;
      color: #fff;
      border: 1px #000 solid;
      padding: 3px 6px;
      border-radius: 5px;
      background: #f36ace;

    }
  }
}

.right{
  display: flex;
  flex-direction: column;
  gap: 20px;

  ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  li{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  button{
    margin: 0;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    background: #f36ace;
  }
}
